.container {
  width: 90%;
  position: absolute;
  height: calc(calc(var(--vh, 1vh) * 98) - 140px);
  margin-top: 126px;
  z-index: 3;
  transform: translate(5%, 0%);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  pointer-events: none;
}

.container.visible {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}

.border {
  clip-path: polygon(
    0% 0%,
    0% 0%,
    100% 100%,
    100% 100%,
    100% 0,
    100% 0,
    100% 100%,
    0 100%
  );
}

.backdrop {
  background-size: cover;
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter:  blur(50px);
  width: 98.6%;
  height: 95%;
  border-bottom: 3px solid #01c2ff;
  border-left: 3px solid #01c2ff;
  border-right: 3px solid #01c2ff;
  border-radius: 20px;
  position: absolute;
}

.border,
.inner-border {
  width: 98.75%;
  height: 95.1%;
  border: 3px solid #01c2ff;
  border-bottom: none;
  border-radius: 20px;
  position: absolute;
  border-left: 2px solid #01c2ff;
  border-right: 2px solid #01c2ff;
  pointer-events: none;
}

.inner-border {
  clip-path: polygon(
    0 0,
    16.5% 0,
    16.5% 100%,
    100% 100%,
    100% 0,
    95% 0,
    94% 100%,
    0 100%
  );
}

.outer-border {
  width: 98.75%;
  height: 98.37%;
  position: absolute;
  pointer-events: none;
}

.outer-border::before,
.outer-border::after {
  content: "";
  position: absolute;
  border: 3px solid #01c2ff;
  pointer-events: none;
}

.outer-border::before {
  left: 14px;
  bottom: 0px;
  right: -18px;
  height: 3.3%;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 18px;
  border-top: none;
}

.outer-border::after {
  top: 15px;
  right: -17.9px;
  bottom: 12px;
  width: 14px;
  border-top-right-radius: 20px;
  border-left: none;
  border-bottom: none;
}

.tab {
  width: 11px;
  height: 17px;
  background-color: #01c2ff;
  position: absolute;
  top: -8px;
}

.tabs {
  background-color: #01c2ff;
  position: relative;
  top: 0;
  width: 0px;
  left: 92%;
  display: flex;
  align-items: center;
}

.tab1 {
  margin-left: -16px;
}

.tab2 {
  margin-left: -32px;
}

.tab3 {
  margin-left: -48px;
}

.tab5 {
  left: 17.21%;
}

.Tflex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 40px;
  position: relative;
  z-index: 10;
}

.Theader {
  margin-left: 51px;
  margin-top: 44px;
  color: #fff;
  font-size: 32px;
  font-weight: var(--font-weight-normal);
  line-height: normal;
  margin-bottom: 35px;
}

.Tflex img {
  width: 20.8px;
  height: 19.1px;
  cursor: pointer;
}

.Tline-circle {
  margin-left: 51px;
  width: 469px;
  height: 1px;
  background: #129bff;
  margin-bottom: 4px;
  position: relative;
  z-index: 10;
}

.Tline-circle::after,
.Tline-circle::before {
  content: "";
  position: absolute;
  transform: translateY(-39%);
  width: 3.5px;
  height: 3.5px;
  background-color: #129bff;
  border-radius: 50%;
}

.Tline-circle::after {
  transform: translate(467px, -39%);
}

.Tline {
  margin-left: 53px;
  width: 466px;
  height: 1px;
  opacity: 0.4;
  background: #129bff;
}

.content-wrapper {
  width: calc(100% - 66px);
  height: calc(100% - 164px);
  padding-left: 51px;
  word-break: break-word;
}


.scrollable-content {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  padding-right: 10px;
}
.scrollable-content.mt{
  margin-top: 35px;
}

.scrollable-content::-webkit-scrollbar, .about-content::-webkit-scrollbar {
  width: 4px;
}

.scrollable-content::-webkit-scrollbar-track, .about-content::-webkit-scrollbar-track {
  background: #404040;
  border-radius: 2px;
}

.scrollable-content::-webkit-scrollbar-thumb, .about-content::-webkit-scrollbar-thumb {
  border: 8px solid #28bcf7;
  min-height: 103px;
  cursor: pointer;
  border-radius: 57px;
}

.scrollable-content-img{
  color: white;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    height: calc(90%);
    row-gap: 30px;
}

.portf{
  height: -webkit-fill-available;
  width: 48.5%;
  position: relative;
  padding: 3px;

  .title-about-wrapper {
    position: absolute;
    bottom: 3px;
    width: 99%;
    display: flex;
    justify-content: space-between;
    z-index: 1;
  }

  .about {
    position: absolute;
    top: 2px;
    left: 3px;
    width: 99%;
    height: 99%; // Full height initially
    overflow: auto; // Allow scrolling for about text
    background-color: rgba(0, 0, 0, 0.91);
    display: flex;
    flex-direction: column; // Align items vertically
    transition: transform 0.5s ease-in-out; // Transition for rotation
    transform-origin: center;
    z-index: 2;
    color: white;
    font-size: 16px;
    font-weight: 500;
    box-sizing: border-box;
    border: 3px solid transparent;
    transform: rotateY(180deg); // Initially rotated
    backface-visibility: hidden; // Hide back during rotation
    
    .about-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px;
      position: sticky;
      font-size: 20px;
      top: 0;
      z-index: 3; // Ensure header stays on top

      img {
        cursor: pointer;
        width: 20px; // Adjust size as needed
        height: 20px;
        min-width: auto;
      }
    }

    .about-content {
      padding: 10px;
      overflow-y: auto; // Allow scrolling for content
      flex-grow: 1; // Allow content to take available space
    }
  }

  .about.active {
    transform: rotateY(0); // Rotate to show
  }

  img{
    width: 48.5%;
    min-width: 100%;
    height: -webkit-fill-available;
    object-fit: cover;
    object-position: top;
  }

  .title{
    position: absolute;
    bottom: 3px;
    left: 4px;
    display: flex;
    cursor: pointer;
    width: 147px;
    height: 31px;
    padding: 8px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    background: rgba(0, 0, 0, 0.70);
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    border-top: 1px solid #01CAFF;
    border-bottom: none;
    border-image-source: linear-gradient(to bottom, rgba(1, 202, 255, 1), rgba(1, 255, 255, 0));
    border-image-slice: 1 1 0 1;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
  }
  .title-about{
    position: absolute;
    cursor: pointer;
    bottom: 3px;
    right: 4px;
    display: flex;
    width: 100px;
    height: 31px;
    padding: 8px 0px;
    flex-direction: row;
    gap: 4px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    background: rgba(0, 0, 0, 0.70);
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    border-top: 1px solid #01CAFF;
    border-bottom: none;
    border-image-source: linear-gradient(to bottom, rgba(1, 202, 255, 1), rgba(1, 255, 255, 0));
    border-image-slice: 1 1 0 1;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;

    svg{
      width: 20px;
      height: 20px;
    }
  }
}

.portf::before {
  content: '';
  background: linear-gradient(to right top, #1062ded0 15%, #00b7ffde 60%, #08388138 );
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  margin: -3px;
}

@media (max-width: 780px) {
  .scrollable-content-img{
    color: white;
      width: 99.5%;
      display: flex;
      flex-wrap: nowrap;
      flex-direction: column;
      row-gap: 24px;
      overflow-x: hidden;
      justify-content: flex-start;
  }
  .portf{
    width: 99%;
    height: 140px;
    flex-direction: column;
    
    img{
      width: 100%;
      min-width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: top;
    }
}
}
@media (max-width: 650px) {
  .container {
    transform: translate(6%, 0%);
  }
  .outer-border {
    display: none;
  }
  .Theader {
    margin-left: 28px;
  }
  .Tline-circle {
    margin-left: 28px;
    width: 250px;
    height: 1px;
  }
  .Tline-circle::after {
    transform: translate(248px, -39%);
  }
  .Tline {
    width: 247px;
    margin-left: 29px;
  }
  .Theader {
    margin-bottom: 20px;
  }
  .Tflex img {
    margin-bottom: -18px;
  }
  .Tflex {
    margin-right: 25px;
  }
  .content-wrapper {
    margin-top: 20px;
    padding-left: 28px;
    width: calc(100% - 43px);
    height: calc(100% - 140px);
  }
}

@media (max-width: 454px) {
//   .container {
//     height: calc(var(--vh, 1vh)* 88 - 230px);
// }
  .Tline-circle {
    margin-left: 15px;
    width: 172px;
    height: 1px;
  }
  .Tline-circle::after {
    transform: translate(170px, -39%);
  }
  .Tline {
    width: 169px;
    margin-left: 17px;
  }
  .Theader {
    margin-left: 15px;
    margin-top: 32px;
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 18px;
  }
  .Tflex img {
    margin-bottom: -18px;
  }
  .Tflex {
    margin-right: 25px;
  }

  .tab {
    width: 3px;
    height: 3.5px;
    top: -0.2px;
  }

  .tabs {
    top: -0.2px;
  }

  .tab1 {
    margin-left: -7px;
    width: 3.5px;
  }

  .tab2 {
    margin-left: -11.5px;
    width: 3.5px;
  }

  .tab3 {
    margin-left: -2px;
    width: 3.5px;
  }
  .tab4 {
    margin-left: 3px;
  }

  .tab5 {
    left: 17.21%;
  }
  .content-wrapper {
    padding-left: 15px;
    width: calc(100% - 30px);
    height: calc(100% - 125px);
  }
}

@media (min-width:100px) {
  .container{
    height: calc(var(--vh, 1vh) * 77 - 140px);
  }
}

// For type=3 specific styling
.type3-content {
  
  margin-top: 15px!important;
  color: white;
  
  .type3-item {
    margin-bottom: 30px;
    padding: 16px 32px 16px 24px;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.04);
    background: linear-gradient(92deg, rgba(18, 155, 255, 0.08) 2.09%, rgba(0, 0, 0, 0.08) 99.26%);
    backdrop-filter: blur(2px);
    
    &:last-child {
      margin-bottom: 0;
    }
  }

  .title-3 {
    font-size: 24px;
    margin-bottom: 15px;
    font-weight: 700;
  }

  .type3-row {
    display: flex;
    gap: 30px;
    justify-content: space-between;
    align-items: center;
  }

  .type3-text {
    flex: 1;
    line-height: 1.5;
    min-width: 50%;
    max-width: 70%;
  }

  .type3-image {
    flex-shrink: 0;
    max-width: 180px;
    width: 100%;
    max-height: 180px;
    height: auto;
    object-fit: contain;
    
  }
  
}

// Responsive adjustments
@media (max-width: 780px) {
  .type3-content {
    margin-top: 10px!important;
    .type3-item{
      padding: 5px 16px;
    }
    .type3-row {
      flex-direction: column;
      align-items: flex-start;
      gap: 20px;
    }

    .type3-image {
      max-width: 150px;
      width: 100%;
      max-height: 150px;
      height: 100%;
      margin: auto;
    }
    .type3-text {
      max-width: 95%;
    }
  }
}



//unreset tags

.Backcontent h1, 
.Backcontent h2, 
.Backcontent h3, 
.Backcontent h4, 
.Backcontent h5, 
.Backcontent h6, 
.Backcontent p, 
.Backcontent blockquote, 
.Backcontent pre, 
.Backcontent a, 
.Backcontent abbr, 
.Backcontent acronym, 
.Backcontent address, 
.Backcontent big, 
.Backcontent cite, 
.Backcontent code, 
.Backcontent del, 
.Backcontent dfn, 
.Backcontent em, 
.Backcontent img, 
.Backcontent ins, 
.Backcontent kbd, 
.Backcontent q, 
.Backcontent s, 
.Backcontent samp, 
.Backcontent small, 
.Backcontent strike, 
.Backcontent strong, 
.Backcontent sub, 
.Backcontent sup, 
.Backcontent tt, 
.Backcontent var, 
.Backcontent b, 
.Backcontent u, 
.Backcontent i, 
.Backcontent center, 
.Backcontent dl, 
.Backcontent dt, 
.Backcontent dd, 
.Backcontent ol, 
.Backcontent ul, 
.Backcontent li, 
.Backcontent fieldset, 
.Backcontent form, 
.Backcontent label, 
.Backcontent legend, 
.Backcontent table, 
.Backcontent caption, 
.Backcontent tbody, 
.Backcontent tfoot, 
.Backcontent thead, 
.Backcontent tr, 
.Backcontent th, 
.Backcontent td, 
.Backcontent article, 
.Backcontent aside, 
.Backcontent canvas, 
.Backcontent details, 
.Backcontent embed, 
.Backcontent figure, 
.Backcontent figcaption, 
.Backcontent footer, 
.Backcontent header, 
.Backcontent hgroup, 
.Backcontent menu, 
.Backcontent nav, 
.Backcontent output, 
.Backcontent ruby, 
.Backcontent section, 
.Backcontent summary, 
.Backcontent time, 
.Backcontent mark, 
.Backcontent audio, 
.Backcontent video {
  all: revert;
  color: inherit;
}

.Backcontent a {
  color: inherit;
  text-decoration: underline;
}

.Backcontent ol, 
.Backcontent ul {
  list-style: revert;
}

.Backcontent blockquote, 
.Backcontent q {
  quotes: revert;
}

.Backcontent table {
  border-collapse: revert;
  border-spacing: revert;
}