nav {
  font-family: "Tomorrow", sans-serif;
  position: absolute;
  top: 0;
  right: 50%;
  left: 50%;
  z-index: 1;

  .nav-container {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    .nav-title {
      font-weight: 600;
      line-height: normal;
      text-align: center;
      color: white;
      font-size: 32px;
      margin-bottom: 1rem;

      .nav-highlight {
        color: #6b62a0;
      }
    }
  }

  .underline-decoration {
    width: 453px;
    rotate: 270deg;

    .line-container,
    .line-secondary,
    .blur-effect,
    .line-primary {
      position: absolute;
    }

    .line-primary {
      width: 258.282px;
      height: 2px;
      background: radial-gradient(#1e98db, #1e98db00);
      filter: blur(0.5px);
      transform: translate(28px, 0px);
    }

    .line-secondary {
      opacity: 0.6;
      background: radial-gradient(#d4f0ff, #1e98db00);
      filter: blur(0.5px);
      width: 267.717px;
      height: 2px;
      transform: translate(-28px, 0px);
    }

    .blur-effect {
      opacity: 0.3;
      background: linear-gradient(0deg, #01b3ff08 3%, #03b7ff 22%, #0dd3ff00 97%);
      filter: blur(3px);
      width: 20px;
      height: 453px;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }

    .line-container {
      width: 453px;
      rotate: 270deg;
      opacity: 0.4;
      filter: blur(1.1px);
      left: 0%;
      transform: translate(18%, 1px);
    }
  }
}

.first-line {
  opacity: 32%;
  transform: translateY(9px);
}

.lines {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 19px;
}

.l-line,
.r-line {
  position: relative;
  width: 50%;
  height: 100%;
}

.l-line::before,
.r-line::before {
  content: "";
  position: absolute;
  top: 0;
  width: 90%;
  height: 2px;
  background: linear-gradient(to left, #7f27ff, rgba(107, 99, 159, 0));
}

.l-line::before {
  left: 0;
}

.r-line::before {
  right: 0;
  transform: scaleX(-1);
}

.l-line::after,
.r-line::after {
  content: "";
  position: absolute;
  top: 0;
  width: 9.8%;
  height: 100%;
  border-left: 3px solid #7f27ff;
  border-bottom: 3px solid #7f27ff;
  transform-origin: top left;
  transform: skew(30deg);
}

.l-line::after {
  right: 0;
}

.r-line::after {
  left: 0;
  transform: scaleX(-1) skew(30deg);
  transform-origin: top;
}

.diamond-container {
  position: relative;
  width: 100%;
  transform: translateY(16px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.diamond {
  width: 12px;
  height: 11px;
  background-color: #7f27ff;
  transform: rotate(45deg);
  filter: drop-shadow(0px 0px 6px #6b639f);
}

.footerContainer {
  display: flex;
  flex-direction: column;
  margin: 0px;
  width: 100%;
  background-color: #03122e;
}

.footer {
  display: flex;
  color: #fff;
  margin-top: 24px;
  margin-left: 8%;
}

.description {
  margin-right: 7.5%;
  line-height: 200%;
  margin-top: -7px;
}

.descriptionHeader {
  color: #fff;
  font-family: Tomorrow;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 18px;
}

.descriptionHeaderDot {
  color: #3376cd;
  font-family: Tomorrow;
  font-size: 24px;
  font-weight: 600;
}

.descriptionParagraph {
  color: #fff;
  font-family: "BPG ExtraSquare Mtavruli";
  font-size: 20px;
  font-weight: 400;
  line-height: 125%;
}

.linksHeader {
  color: #fff;
  font-family: "BPG ExtraSquare Mtavruli";
  font-size: 18px;
  font-weight: 400;
  letter-spacing: -0.09px;
  margin-bottom: 17px;
  display: flex;
  align-items: center;
  letter-spacing: -0.09px;
  line-height: normal;
}

.linksHeaderDot {
  width: 10px;
  height: 10px;
  background-color: #6B62A0;
  border-radius: 50%;
  margin-left: 11px;
  margin-top: -4px;
}

.contactsHeaderDot {
  width: 10px;
  height: 10px;
  background-color: #ffffff;
  border-radius: 50%;
  margin-left: 11px;
  margin-top: -4px;
}

.linksList {
  color: #fff;
  font-family: "BPG ExtraSquare Mtavruli";
  font-size: 14px;
  font-weight: 400;
  line-height: 236.3%;
}

.contacts {
  margin-left: 22%;
  margin-right: 3%;
}

.contactsList {
  color: #fff;
  font-family: "BPG ExtraSquare Mtavruli";
  font-size: 14px;
  font-weight: 400;
  line-height: 236.3%;
}

.contactsAndLinks {
  display: flex;
  width: 38%;
}

.ge {
  color: #fff;
  font-family: "BPG ExtraSquare Mtavruli"; // -------------------------needs install
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  display: flex;
  align-items: center;
}

.geSpan {
  margin-bottom: -3px;
}

.social-icons {
  display: flex;
  column-gap: 16px;
  align-items: center;
  flex-direction: row-reverse;
  margin-right: 3.8%;
  margin-top: 36px;
  margin-bottom: 31px;
  .soc {
    width: 34px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.08);
    border-radius: 999px;
    cursor: pointer;
  }
  svg {
    fill: white;
  }
}

.footerlines {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
}

.footer-line {
  position: relative;
  width: 23%;
  height: 1px;
  background-color: #7f27ff;
}

.middleline::before,
.middleline::after,
.firstline::after,
.thirdline::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 3.5px;
  height: 3.5px;
  background-color: #7f27ff;
  border-radius: 50%;
}

.footer-line::before {
  left: 0px;
}

.footer-line::after {
  right: 0px;
}

.middleline {
  width: 46%;
}

.line-color {
  width: 22.8%;
  background-color: rgb(55 26 129);
}
.line-color-middle {
  width: 45.5%;
  background-color: rgb(55 26 129);
}

.copyright {
  color: #fff;
  font-family: "BPG ExtraSquare Mtavruli";
  font-size: 14px;
  line-height: 10px;
  margin-top: 13px;
  margin-bottom: 12px;
  font-weight: 400;
  letter-spacing: -0.07px;
  text-align: center;
}

////needs to try: border-radius: 20px !important;
///box-shadow: blue 0px 0px 0px 2px inset, rgb(255, 255, 255) 10px 10px 0px -3px, rgb(31, 193, 27) 10px 10px;




@media (max-width: 912px) {
  .description {
    width: 32%;
  }
}


@media (max-width: 768px) {
  .description {
    margin-right: none;
    margin-bottom: 4%;
    width: 57%;
  }


  .descriptionParagraph {
    font-size: 16px;
  }

  .contactsAndLinks {
    margin-top: 6%;
    width: 70%;
  }

  .contacts {
    margin-left: 25%;
  }

  .footer { 
    display: block;
    // margin-top: 0px;
  }

  .social-icons {
    margin-top: 0% 
  }
}



