nav {
  font-family: "Tomorrow", sans-serif;
  position: absolute;
  top: 0;
  right: 50%;
  left: 50%;
  z-index: 1;

  .nav-container {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    .nav-title {
      font-weight: 600;
      line-height: normal;
      text-align: center;
      color: white;
      font-size: 32px;
      margin-bottom: 1rem;

      .nav-highlight {
        color: #6b62a0;
      }
    }
  }

  .underline-decoration {
    width: 453px;
    rotate: 270deg;

    .line-container,
    .line-secondary,
    .blur-effect,
    .line-primary {
      position: absolute;
    }

    .line-primary {
      width: 258.282px;
      height: 2px;
      background: radial-gradient(#1e98db, #1e98db00);
      filter: blur(0.5px);
      transform: translate(28px, 0px) scaleX(0);
      transform-origin: center;
      transition: transform 1s ease-in-out;

      &.active {
        transform: translate(28px, 0px) scaleX(1);
      }
    }

    

    .line-secondary {
      opacity: 0.6;
      background: radial-gradient(#d4f0ff, #1e98db00);
      filter: blur(0.5px);
      width: 267.717px;
      height: 2px;
      transform: translate(-28px, 0px) scaleX(0);
      transform-origin: center;
      transition: transform 1s ease-in-out;
    
      &.active {
        transform: translate(-28px, 0px) scaleX(1);
      }
    }

    .blur-effect {
      opacity: 0.3;
      background: linear-gradient(0deg, #01b3ff08 3%, #03b7ff 22%, #0dd3ff00 97%);
      filter: blur(3px);
      width: 14px;
      height: 453px;
      left: 50%;
      top: 50%;
      transform: translate(-70%, -50%);
      height: 0;
      transition: height 1s ease-in-out;
    
      &.active {
        height: 453px;
      }
    }

    .line-container {
      width: 453px;
      rotate: 270deg;
      opacity: 0.4;
      filter: blur(1.1px);
      left: 0%;
      transform: translate(18%, 1px);
    }
  }
}

.first-line {
  opacity: 32%;
  transform: translateY(9px);
}

.lines-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.lines {
  position: relative;
  width: 100%;
  max-width: 1440px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 19px;
}

.l-line,
.r-line {
  position: relative;
  width: 50%;
  height: 100%;
}

.l-line::before,
.r-line::before {
  content: "";
  position: absolute;
  width: calc(100% - 56px);
  top: 0;
  max-width: 680px;
  height: 2px;
  background: linear-gradient(to left, #7f27ff, rgba(107, 99, 159, 0));
}

.l-line::before {
  left: 0;
}

.r-line::before {
  right: 0;
  transform: scaleX(-1);
}

.l-line::after,
.r-line::after {
  content: "";
  position: absolute;
  top: 0;
  width: 56px;
  height: 100%;
  border-left: 3px solid #7f27ff;
  border-bottom: 3px solid #7f27ff;
  transform-origin: top left;
  transform: skew(30deg);
}

.l-line::after {
  right: 0;
}

.r-line::after {
  left: 0;
  transform: scaleX(-1) skew(30deg);
  transform-origin: top;
}

.diamond-container {
  position: relative;
  width: 100%;
  transform: translateY(16px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.diamond {
  width: 12px;
  height: 11px;
  background-color: #7f27ff;
  transform: rotate(45deg);
  filter: drop-shadow(0px 0px 6px #6b639f);
}

.footerContainer {
  display: flex;
  position: relative;
  flex-direction: column;
  margin: 0px;
  width: 100%;
  background-color: #03122e;
}

.footer {
  display: flex;
  color: #fff;
  margin-top: 24px;
  margin-left: 8%;
}

.description {
  margin-right: 7%;
  line-height: 200%;
  margin-top: -7px;
  width: 30.5%;
}

.descriptionHeader {
  color: #fff;
  font-family: Tomorrow;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 18px;
}

.descriptionHeaderDot {
  color: #3376cd;
  font-family: Tomorrow;
  font-size: 24px;
  font-weight: 600;
}

.descriptionParagraph {
  color: #fff;
  font-family: var(--font-family);
  font-size: 20px;
  font-weight: 400;
  line-height: 125%;
}

.linksHeader {
  color: #fff;
  font-family: var(--font-family);
  font-size: 18px;
  font-weight: var(--font-weight-medium);
  letter-spacing: -0.09px;
  margin-bottom: 17px;
  display: flex;
  align-items: center;
  letter-spacing: -0.09px;
  line-height: normal;
}

.linksHeaderDot {
  width: 10px;
  height: 10px;
  background-color: #6b62a0;
  border-radius: 50%;
  margin-left: 11px;
  margin-top: -4px;
}

.contactsHeaderDot {
  width: 10px;
  height: 10px;
  background-color: #ffffff;
  border-radius: 50%;
  margin-left: 11px;
  margin-top: -4px;
}

.linksList {
  color: #fff;
  font-family: var(--font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 236.3%;
}

.contacts {
  margin-left: 22%;
  margin-right: 3%;
}

.contactsList {
  color: #fff;
  font-family: var(--font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 236.3%;
}

.contactsAndLinks {
  display: flex;
  width: 38%;
}

.ge {
  color: #fff;
  width: fit-content;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  display: flex;
  cursor: pointer;
  align-items: center;
}

.geSpan {
  margin-bottom: -5px;
  margin-left: 3px;
}

.social-icons {
  display: flex;
  column-gap: 16px;
  align-items: center;
  flex-direction: row-reverse;
  margin-right: 3.8%;
  margin-top: 36px;
  margin-bottom: 31px;
  .soc {
    width: 34px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.08);
    border-radius: 999px;
    cursor: pointer;
  }
  svg {
    fill: white;
    padding-top: 2px;
  }
}

.footerlines {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
}

.footer-line {
  position: relative;
  width: 23%;
  height: 1px;
  background-color: #7f27ff;
}

.middleline::before,
.middleline::after,
.firstline::after,
.thirdline::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 3.5px;
  height: 3.5px;
  background-color: #7f27ff;
  border-radius: 50%;
}

.footer-line::before {
  left: 0px;
}

.footer-line::after {
  right: 0px;
}

.middleline {
  width: 46%;
}

.line-color {
  width: 22.8%;
  background-color: rgb(55 26 129);
}
.line-color-middle {
  width: 45.5%;
  background-color: rgb(55 26 129);
}

.copyright {
  color: #fff;
  font-family: var(--font-family);
  font-size: 14px;
  line-height: 10px;
  margin-top: 13px;
  margin-bottom: 12px;
  font-weight: 400;
  letter-spacing: -0.07px;
  text-align: center;
}

@media (max-width: 1419px) {
  .description {
    margin-right: 0%;
    width: 37.5%;
  }
}

@media (max-width: 1330px) {
  .description {
    margin-right: 4%;
  }
}

@media (max-width: 1154px) {
  .description {
    width: 42%;
  }

  .contactsAndLinks {
    width: 42%;
  }
}

@media (max-width: 1084px) {
  .description {
    margin-right: 0%;
    width: 50%;
  }
}

@media (max-width: 1030px) {
  .description {
    margin-right: 5%;
  }

  .contactsAndLinks {
    width: 50%;
    margin-left: 0%;
  }

  .contacts {
    margin-left: 16%;
  }
}

@media (max-width: 912px) {
  .description {
    width: 45%;
  }

  .descriptionParagraph {
    font-size: 16px;
  }

  .contacts {
    margin-left: 15%;
  }
}

@media (max-width: 860px) {
  .description {
    width: 50%;
    margin-right: 0%;
  }
}

@media (max-width: 770px) {
  .description {
    margin-right: none;
    margin-bottom: 4%;
    width: 67%;
  }

  .descriptionParagraph {
    font-size: 16px;
  }

  .contactsAndLinks {
    margin-top: 6%;
    width: 70%;
  }

  .contacts {
    margin-left: 25%;
  }

  .footer {
    display: block;
  }

  .social-icons {
    margin-top: 2%;
    margin-left: 7.5%;
    flex-direction: row;
  }
}

@media (max-width: 651px) {
  nav .nav-container {
    margin-top: 36px;
  }
  .description {
    width: 79%;
  }

  .contacts {
    margin-left: 20%;
  }

  .contactsAndLinks {
    width: 92%;
  }

  nav .underline-decoration .blur-effect.active {
    height: 438px;
  }
  .lines-container {
    padding: 0px;
  }
  .l-line::before,
  .r-line::before {
    background: #7f27ff;
  }
}

@media (max-width: 454px) {
  .description {
    width: 96%;
  }

  .descriptionParagraph {
    font-size: 14px;
    line-height: 178.571%;
  }
  .descriptionHeader {
    margin-top: 10px;
  }
  .linksHeader {
    font-size: 16px;
    letter-spacing: -0.08px;
  }

  .linksList,
  .contactsList {
    font-size: 12px;
  }

  .contactsAndLinks {
    width: 100%;
  }

  .footer {
    margin-top: 0px;
  }

  .footerlines {
    display: none;
  }

  .contacts {
    margin-left: 20%;
  }

  .copyright {
    color: #fff;
    font-family: Tomorrow;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 83.333%;
    letter-spacing: -0.06px;
    text-align: left;
    margin-left: 4.5%;
    margin-top: 5.7%;
    margin-bottom: 7.5%;
  }

  .social-icons {
    flex-direction: row;
    margin-left: 4.5%;
    margin-top: 8%;
    margin-bottom: 0%;
  }

  .footer {
    margin-left: 4.5%;
  }

  nav .underline-decoration .blur-effect.active {
    height: 366px;
  }

  
}

@media (max-width: 382px) {
  nav .underline-decoration .blur-effect.active {
    height: 290px;
  }
  nav .underline-decoration .line-secondary{
    width: 215.757px;
  }
  nav .underline-decoration .line-secondary.active{
    transform: translate(-14px, 0px) scaleX(1);
  }
}


@media (max-width: 362px) {
  .contacts {
    margin-left: 10%;
  }

  nav .underline-decoration .blur-effect.active {
    height: 300px;
  }
}


@media (max-width: 314px) {
  .contacts {
    margin-left: 8%;
  }

  nav .underline-decoration .blur-effect.active {
    height: 290px;
  }
}

@media (max-width: 350px) {
  nav .underline-decoration .line-secondary.active{
    transform: translate(-5px, 0px) scaleX(1);
  }
}


@media (max-width: 554px) {
  .diamond-container{
    visibility: hidden;
  }
}