.main {
  position: relative;
  height: 105vh;
}

.main-video {
  width: 100%;
  height: 105vh;
  object-fit: fill;
}

.btnContainer {
  position: absolute;
  right: 3%;
  bottom: 6.5%;
}

.btnContact {
  --slant: 28.2px;
  font-family: "BPG ExtraSquare Mtavruli";
  font-size: 18px;
  padding: 0.4em 1.2em;
  width: 192px;
  height: 64px;
  border: none;
  color: #000;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
  clip-path: polygon(0 0, calc(103% - var(--slant)) 0, 108% var(--slant), 100% 100%, var(--slant) 109%, 0 calc(118% - var(--slant)));
  background-color: #56f1ff;
}

.little-rectangle {
  background-color: #000000;
  width: 12.5%;
  height: 4px;
  transform: translate(608%, -3.3px);
}

.boxes {
  position: absolute;
  z-index: 3;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
}

.boxContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 16px;
  width: 11%;
  height: auto;
}

.box {
  width: 110%;
  cursor: pointer;
  -webkit-user-drag: none;
}

.boxParagraph {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #9feeff;
  font-family: "BPG ExtraSquare Mtavruli";
  font-size: 100%;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  width: 100%;
  cursor: pointer;
}

.boxParagraph1 {
  left: auto;
  right: -5%;
  transform: translateY(-40%);
}

.boxParagraph2 {
  left: auto;
  right: -5%;
  transform: translateY(-40%);
}

.boxParagraph3 {
  left: auto;
  right: 5%;
  transform: translateY(-40%);
}

.boxParagraph4 {
  left: auto;
  right: 5%;
  transform: translateY(-40%);
}

@media (max-width: 1440px) {
  .boxes {
    width: 700px;
    gap: 65px;
  }

  .box {
    width: 170px;
  }

  .boxParagraph {
    width: 130px;
    font-size: 18px;
  }

  .boxParagraph1 {
    transform: translate(18%, -40%);
  }

  .boxParagraph2 {
    transform: translate(27%, -40%);
  }

  .boxParagraph3 {
    transform: translate(22%, -40%);
  }

  .boxParagraph4 {
    transform: translate(24%, -40%);
  }
}

@media (max-width: 860px) {
  .boxes {
    width: 600px;
    gap: 50px;
  }

  .box {
    width: 140px;
  }

  .boxParagraph {
    font-size: 15px;
  }

  .boxParagraph1 {
    transform: translate(25%, -40%);
  }

  .boxParagraph3 {
    transform: translate(25%, -40%);
  }
}

@media (max-width: 651px) {
  .btnContact {
    --slant: 22.32px;
    width: 152px;
    height: 50.66px;
    font-size: 16px;
  }

  .boxes {
    width: 440px;
  }

  .box {
    width: 122px;
  }

  .boxParagraph {
    font-size: 13px;
  }

  .boxParagraph1 {
    transform: translate(35%, -40%);
  }

  .boxParagraph2 {
    transform: translate(37%, -40%);
  }

  .boxParagraph3 {
    transform: translate(30%, -40%);
  }

  .boxParagraph4 {
    transform: translate(28%, -40%);
  }
}

@media (max-width: 554px) {
  .btnContainer {
    right: 4%;
    bottom: 4.3%;
  }

  .boxes {
    width: 338px;
    gap: 38px;
  }

  .box {
    width: 105px;
  }

  .boxParagraph {
    width: 87px;
  }

  .boxParagraph1 {
    transform: translate(26%, -40%);
  }

  .boxParagraph3 {
    transform: translate(28%, -40%);
}

  .boxParagraph4 {
    transform: translate(32%, -40%);
  }
}

@media (max-width: 454px) {
  .btnContact {
    --slant: 16.8px;
    width: 115px;
    height: 38.3px;
    font-size: 16px;
  }

  .main-video {
    height: 85vh;
  }

  .main {
    height: 85vh;
  }

  .boxes {
    width: 280px;
    gap: 3px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    top: 40%;
  }

  .boxContainer {
    margin: 0px;
    width: 100%;
  }

  .box {
    width: 149px;
  }

  .boxParagraph {
    width: 81%;
    font-size: 18px;
  }
  
  .boxParagraph1 {
    transform: translate(-18%, -40%);
  }

  .boxParagraph2 {
    transform: translate(-11%, -40%);
  }

  
  .boxParagraph3 {
    transform: translate(-9%, -40%);
  }
  
  .boxParagraph4 {
    transform: translate(-6%, -40%);
  }
}
