body {
  background-color: black;
  font-family: "BPG ExtraSquare Mtavruli", sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.container {
  width: 90%;
  position: absolute;
  height: calc(calc(var(--vh, 1vh) * 98) - 140px);
  margin-top: 126px;
  z-index: 3;
  transform: translate(5%, 0%);
}

.border {
  clip-path: polygon(
    0% 0%,
    0% 0%,
    100% 100%,
    100% 100%,
    100% 0,
    100% 0,
    100% 100%,
    0 100%
  );
}

.backdrop {
  background: linear-gradient(
    1deg,
    rgba(29, 147, 216, 0.2) 8.19%,
    rgba(4, 59, 91, 0) 99.34%
  );
  backdrop-filter: blur(50px);
  width: 98.6%;
  height: 95%;
  border-bottom: 3px solid #01c2ff;
  border-left: 3px solid #01c2ff;
  border-right: 3px solid #01c2ff;
  border-radius: 20px;
  position: absolute;
}

.border,
.inner-border {
  width: 98.75%;
  height: 95.1%;
  border: 3px solid #01c2ff;
  border-bottom: none;
  border-radius: 20px;
  position: absolute;
  border-left: 2px solid #01c2ff;
  border-right: 2px solid #01c2ff;
  pointer-events: none;
}

.inner-border {
  clip-path: polygon(
    0 0,
    16.5% 0,
    16.5% 100%,
    100% 100%,
    100% 0,
    95% 0,
    94% 100%,
    0 100%
  );
}

.outer-border {
  width: 98.75%;
  height: 98.37%;
  position: absolute;
  pointer-events: none;
}

.outer-border::before,
.outer-border::after {
  content: "";
  position: absolute;
  border: 3px solid #01c2ff;
  pointer-events: none;
}

.outer-border::before {
  left: 14px;
  bottom: 0px;
  right: -18px;
  height: 3.3%;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 18px;
  border-top: none;
}

.outer-border::after {
  top: 15px;
  right: -17.9px;
  bottom: 12px;
  width: 14px;
  border-top-right-radius: 20px;
  border-left: none;
  border-bottom: none;
}

.tab {
  width: 11px;
  height: 17px;
  background-color: #01c2ff;
  position: absolute;
  top: -8px;
}

.tabs {
  background-color: #01c2ff;
  position: relative;
  top: 0;
  width: 0px;
  left: 92%;
  display: flex;
  align-items: center;
}

.tab1 {
  margin-left: -16px;
}

.tab2 {
  margin-left: -32px;
}

.tab3 {
  margin-left: -48px;
}

.tab5 {
  left: 17.21%;
}

.Tflex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 40px;
  position: relative;
  z-index: 10;
}

.Theader {
  margin-left: 51px;
  margin-top: 44px;
  color: #fff;
  font-size: 32px;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 35px;
}

.Tflex img {
  width: 20.8px;
  height: 19.1px;
  cursor: pointer;
}

.Tline-circle {
  margin-left: 51px;
  width: 469px;
  height: 1px;
  background: #129bff;
  margin-bottom: 4px;
  position: relative;
  z-index: 10;
}

.Tline-circle::after,
.Tline-circle::before {
  content: "";
  position: absolute;
  transform: translateY(-39%);
  width: 3.5px;
  height: 3.5px;
  background-color: #129bff;
  border-radius: 50%;
}

.Tline-circle::after {
  transform: translate(467px, -39%);
}

.Tline {
  margin-left: 53px;
  width: 466px;
  height: 1px;
  opacity: 0.4;
  background: #129bff;
}


.content-wrapper {
  width: calc(100% - 66px);
  margin-top: 35px;
  height: calc(100% - 164px); 
  padding-left: 51px;
    word-break: break-word;
}

.scrollable-content {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  padding-right: 10px;
}

.scrollable-content::-webkit-scrollbar {
  width: 4px; 
}

.scrollable-content::-webkit-scrollbar-track {
  background: #404040; 
  border-radius: 2px;
}

.scrollable-content::-webkit-scrollbar-thumb {
  border: 8px solid #28BCF7;
  min-height: 103px;
  cursor: pointer;
  border-radius: 57px;
  box-shadow: -3px 0px 7px 1px #1252F4;

}

@media (max-width: 650px) {
  .container {
    transform: translate(6%, 0%);
  }
  .outer-border {
    display: none;
  }
  .Theader {
    margin-left: 28px;
  }
  .Tline-circle {
    margin-left: 28px;
    width: 250px;
    height: 1px;
  }
  .Tline-circle::after {
    transform: translate(248px, -39%);
  }
  .Tline {
    width: 247px;
    margin-left: 29px;
  }
  .Theader {
    margin-bottom: 20px;
  }
  .Tflex img {
    margin-bottom: -18px;
  }
  .Tflex {
    margin-right: 25px;
  }
  .content-wrapper {
    margin-top: 20px;
    padding-left: 28px;
    width: calc(100% - 43px);
    height: calc(100% - 140px); 
  }

}

@media (max-width: 450px) {
  .container {
    height: calc(calc(var(--vh, 1vh) * 92) - 140px);
  }
  .Tline-circle {
    margin-left: 15px;
    width: 172px;
    height: 1px;
  }
  .Tline-circle::after {
    transform: translate(170px, -39%);
  }
  .Tline {
    width: 169px;
    margin-left: 17px;
  }
  .Theader {
    margin-left: 15px;
    margin-top: 32px;
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 18px;
  }
  .Tflex img {
    margin-bottom: -18px;
  }
  .Tflex {
    margin-right: 25px;
  }

  .tab {
    width: 3px;
    height: 3.5px;
    top: -0.2px;
  }

  .tabs {
    top: -0.2px;
  }

  .tab1 {
    margin-left: -7px;
    width: 3.5px;
}

  .tab2 {
    margin-left: -11.5px;
    width: 3.5px;
  }

  .tab3 {
    margin-left: -2px;
    width: 3.5px;
  }
  .tab4{
    margin-left: 3px;
  }

  .tab5 {
    left: 17.21%;
  }
  .content-wrapper {
    padding-left: 15px;
    width: calc(100% - 30px);
    height: calc(100% - 125px); 
  }
}

.ContactBorder {
  position: absolute;
  z-index: 5;
}
