:root {
  --font-family: 'BPG ExtraSquare Mtavruli', sans-serif;
}

body {
  background-color: black;
  font-family: var(--font-family), sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.mainContainer{
  background-repeat: no-repeat;
  background-size: 100vw;
  background-position: top;
}